.wrapper {

    &::after {
        content: '|';
        animation: tilt 500ms ease alternate infinite;
    }

}

@keyframes tilt {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}